.marketing hr {
    margin: 40px auto;
}

.marketing {
    background-color: #1A1D23;
    color: #ddd;
    padding: 60px;
}

.marketing .glyphicon {
    font-size: 5em;
}

.newsletter {
    padding: 20px;
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
}